<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.ssm.mapper.PersonMapper">
	<resultMap type="cn.itcast.ssm.domain.Person" id="personRM">
		<id property="id" column="ID"/>
		<result property="name" column="USER_NAME"/>
		<result property="age" column="AGE"/>
		<result property="remark" column="REMARK"/>
	</resultMap>
	
	<resultMap type="cn.itcast.ssm.domain.Person" id="personBookRM" extends="personRM">
		<collection property="books" ofType="cn.itcast.ssm.domain.Book">
			<id property="id" column="BOOK_ID"/>
			<result property="name" column="NAME"/>
			<result property="money" column="MONEY"/>
		</collection>
	</resultMap>
	
	<!-- 带条件查询 -->
	<select id="find" parameterType="map" resultMap="personRM">
		select * from person
		where 1=1
		<if test="name!=null"> and user_name like #{name}</if>
		<if test="ageStart!=null"> and age>#{ageStart}</if>
		<if test="ageEnd!=null"><![CDATA[ and age<=#{ageEnd}]]></if>
	</select>
	
	<!-- 查询某人的书籍 -->
	<select id="findPersonBook" parameterType="int" resultMap="personBookRM">
SELECT
	p.id,p.user_name,p.age,p.remark,
	b.id AS book_id,b.name,b.money
FROM
	(SELECT * FROM person
		WHERE id = #{id}
	) p
LEFT JOIN
	(SELECT * FROM book
		WHERE person_id = #{id}
	) b
ON p.id=b.person_id
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="cn.itcast.ssm.domain.Person">
		insert into person
		(user_name,age,remark)
		values
		(	
			#{name, jdbcType=VARCHAR},
			#{age, jdbcType=INTEGER},
			#{remark, jdbcType=VARCHAR}
		)
	</insert>

</mapper>
